// colors
$black:   #27201f;
$teal-lt: #03E6FB;
$teal-dk: #00a4b3;
$silver:  #d3d3d3;

// fonts
$header-font:  'Oranienbaum', Times, serif;
$menu-font:    'Press Start 2P', Courier, monospace;
$copy-font:     'Roboto', Arial, sans-serif;

// media sizes
$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 768px)";
$desktop-width: "screen and (min-width: 1024px)";
